html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#menu-container {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: #861924;
}

#menu {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 900px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

#logo {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  float: left;
  margin-top: -6px;
  color: rgba(255, 255, 255, 0.8);
}

#logo a {
  text-decoration: none;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
}

#menu-items {
  float: right;
  margin-top: 4px;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.8);
}

#menu-items a {
  text-decoration: none;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

#menu-items a:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.menu-highlight {
  color: rgb(255, 255, 255) !important;
  font-weight: 700 !important;
}

#content-container {
  z-index: 1;
  position: absolute;
  top: 70px;
  width: 100%;
}

#content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 900px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
  font-size: 16px;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

#content a {
  text-decoration: none;
  color: #AB1B2A;
}

#content a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

#authors {
  font-size: 20px;
}

#institute {
  font-size: 20px;
  padding-bottom: 20px;
}

#abstract-table {
  width: 100%;
  margin: 0;
}

#abstract {
  text-align: justify;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 0;
  margin-top: 0;
}

#video-title {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}

#video-names {
  margin-top: 0px;
}

.gallery-td-left {
  vertical-align: top;
  padding-right: 12px;
}

.gallery-td-right {
  vertical-align: top;
  padding-right: 0;
}

.gallery-img {
  width: 216px;
  display: block;
  margin-top: 12px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.gallery-img:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#gallery-title {
  font-size: 20px;
  margin-top: -10px;
  margin-bottom: 10px;
}

#file-table {
  width: 100%;
}

#file {
  width: 200px;
  vertical-align: middle;
}

#file-label {
  vertical-align: middle;
}

#url {
  width: 300px;
  vertical-align: middle;
}

#url-label {
  vertical-align: middle;
}

.sample-td-left {
  margin: 0;
  padding-right: 10px;
}

.sample-td-right {
  margin: 0;
  padding-right: 0;
}

.sample-img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sample-img.portrait {
  width: 100%;
  height: auto;
}

.thumbnail {
  border: 1px solid rgba(0, 0, 0, 0);
  margin: 0;
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
  cursor: pointer;
}

.thumbnail:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.part-td-left {
  margin: 0;
  padding-right: 10px;
}

.part-td-right {
  margin: 0;
  padding-right: 0;
}

.part-img {
  margin: 0;
  width: 170px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.part-img:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.part-text {
  margin-top: -10px;
}

.pose-td-left {
  vertical-align: top;
  padding-right: 8px;
}

.pose-td-right {
  vertical-align: top;
  padding-left: 2px;
}

.pose-img {
  width: 443px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.pose-img:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.pose-td-left .pose-img {
  float: right;
}

.pose-td-right .pose-img {
  float: left;
}

#gallery {
  width: 100%;
}

#sample-image-container {
  border-spacing: 0;
  width: 100%;
  margin-bottom: 30px;
}

#small-image-container {
  border-spacing: 0;
  width: 100%;
  display: none;
}

#large-image-container {
  border-spacing: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  display: none;
}

.force-scroll {
  overflow-y: scroll;
}

.menu-bold {
  font-weight: bold !important;
}

#is-processing {
  font-size: 50px;
  margin-top: 60px;
  display: none;
}

#server-error-msg {
  font-size: 30px;
  margin-top: 60px;
  display: none;
}

#save-image-btn {
  font-size: 30px;
  display: none;
}

#save-image-txt {
  margin-top: 40px;
  margin-bottom: 10px;
  display: none;
}

#is-image-saved {
  margin-top: 10px;
  display: none;
}

.custom-button {
  background-image: none !important;
  background: #DD5C6A !important;
  color: white !important;
  font-family: 'Raleway', Helvetica, Arial, sans-serif !important;
  outline: none !important;
  border-radius: 2px !important;
}

.custom-button:hover {
  background: #B23946 !important;
}

.custom-button:active {
  background: #DD5C6A !important;
}